
@{
    ViewData["Title"] = "ChangedPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment env
    <form id="change-success" class="form-login">
        <div class="header_mjz">
            <div id="Welcome_to_Online_Asset_Manage2">
                <span class="center">Change Password</span>
            </div>
        </div>
        <div class="background_mj2" viewBox="0 0 465.648 228.959">
            <div class="center">
                    Your password has been changed successfully!
                <div class="input-field2 float-right">
                    <a class="btn btn-outline-secondary" asp-controller="Account" asp-action="ChangePwSuccess">Return to Login</a>
                </div>
            </div>
        </div>
    </form>