
@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Rookie.AMO.Identity.ViewModel.ChangeInputModel

<div class="login-page">
    @*<partial name="_ValidationSummary" />*@
    <div class="row login">

        <form class="form-login" method="post" asp-route="Change">
            <input type="hidden" asp-for="ReturnUrl" />

            <div class="header_mjz">
                <div id="Welcome_to_Online_Asset_Manage">
                    <span>Change Password</span>
                </div>
            </div>
            <div class="background_mj" viewBox="0 0 465.648 228.959">
                <div class="input-field">
                    <span>Old Password </span><span class="note">*</span>
                    <input id="password" class="input-login" type="password" asp-for="CurrentPass"/>
                    <div>
                        <span asp-validation-for="CurrentPass" class="error-message"></span>
                    </div>
                    <i id="togglePassword" class="fas fa-eye show-password"></i>
                </div>
                <div class="input-field">
                    <span>New Password </span><span class="note">*</span>
                    <input id="newpassword" class="input-login" type="password" asp-for="NewPass" />
                    <i id="togglenewPassword" class="fas fa-eye show-password"></i>
                    <div>
                        <span asp-validation-for="NewPass" class="error-message"></span>
                    </div>

                </div>
                <div class="input-field float-right">
                    <button type="submit" class="btn btn-danger">Save</button>
                    <a class="btn btn-outline-secondary" asp-action="CancelchangPw">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</div>